* {
	margin: 0; /* remove default margin from the browser */
	padding: 0; /* remove default padding from the browser */
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-rows: auto auto auto;

	grid-template-areas: "header" "main" "footer";
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.article {
	display: grid;
	grid-template-rows: auto auto auto;

	grid-template-areas: "h3" "img" "p" "button";
}
