* {
	margin: 0; /* remove default margin from the browser */
	padding: 0; /* remove default padding from the browser */
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-rows: auto auto auto;

	grid-template-areas: "header" "main" "footer";
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;

	max-width: 80rem;
	margin: auto;
}

.article {
	height: 100%;
	display: flex;
	flex-direction: column;

	background: yellowgreen;
}

h3 {
	background: lavender;
}

img {
	max-width: 100%;
}

.article img {
	border: 1px solid red;
	width: 90%;
	aspect-ratio: 16/9;
	object-fit: contain;
	align-self: center;
}

p {
	/* min-height: 3rem; */
	background: cyan;
	padding-bottom: 1rem;
	/* margin-bottom: 1rem; */
}

button {
	margin-top: auto;
}
